<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/about_us.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    <div class="TopPicture">
      <img id="Picture" src="/static/img/TopPicture.jpg">
      <div id="hello">Здравствуйте!<br><div id="we">Мы приветствуем вас в туристическом агентстве Bjeget.</div></div>
    </div>
    
    <div class="Buttons">
      <div id="Main"><a href="index">Главная</a></div>
      <div id="Where_are_found_us"><a href="where">Где нас <br>найти?</a></div>
      <div id="Turs_catalog"><a href="cataloge">Каталог <br>туров</a></div>
      <div id="About_us"><a href="about_us">О нас</a></div>
    </div>
    
    <div class="text">Мы специализируемся на турах по всей России, начиная с Санкт-Петербурга и заканчивая Владивостоком.</div>
    
    <div class="map">
      <img id="way" src="/static/img/map1.png">
      <a href="more1"><div id="piter"></div></a>
      <a href="more2"><div id="moscow"></div></a>
      <a href="more3"><div id="volgograd"></div></a>
      <a href="more4"><div id="ufa"></div></a>
      <a href="more5"><div id="ekaterinburg"></div></a>
      <a href="more6"><div id="novosibirsk"></div></a>
      <a href="more7"><div id="irkutsk"></div></a>
      <a href="more8"><div id="habarovsk"></div></a>
      <a href="more9"><div id="vladivostok"></div></a>
    </div>
    
    <div class="futer">
      <div class="textf">
        <div class="contacts">
          <div id="contats1">Контакты:<br>Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br>Mail: abramov1kirill@yandex.ru</div>
          <div id="about_company">О компании:<br><a href="https://vspc34.ru/">Наш партнер</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
