!<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/cataloge.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="cataloge">
      <div class="sort">
        <div id="text">
          Сортировать товары по цене:<br /><br /><a href="#">Убывание</a
          ><br /><br /><a href="#">Возрастание</a>
        </div>
        <div class="turs">
          <div id="tur1">
            <img id="picture1" src="static/img/PiterBridge.jpg" />
            Тур по Санкт-Петербургу<br />От 15 400 руб.
            <div class="buttons1">
              <div id="more1"><a href="more1">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
          <div id="tur1">
            <img id="picture1" src="static/img/MoscowCity1.jpg" />
            Тур по Москве<br />
            От 12 000 руб.
            <div class="buttons1">
              <div id="more1"><a href="more2">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
          <div id="tur1">
            <img id="picture1" src="static/img/MamaevVolgograd.jpg" />
            Тур по Волгограду<br />От 14 900 руб.
            <div class="buttons1">
              <div id="more1"><a href="more3">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
          <div id="tur1">
            <img id="picture1" src="static/img/Ufa.jpg" />
            Тур по Уфе<br />От 10 200 руб.
            <div class="buttons1">
              <div id="more1"><a href="more4">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
        </div>
        <div class="turs2">
          <div id="tur1">
            <img id="picture1" src="static/img/Ekaterinburg.jpg" />
            Тур по Екатеринбургу<br />От 12 000 руб.
            <div class="buttons1">
              <div id="more1"><a href="more5">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
          <div id="tur1">
            <img id="picture1" src="static/img/Novosibirsk.jpg" />
            Тур по Новосибирску<br />От 14 000 руб.
            <div class="buttons1">
              <div id="more1"><a href="more6">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
          <div id="tur1">
            <img id="picture1" src="static/img/Irkutsk.jpg" />
            Тур по Иркутску<br />От 12 500 руб.
            <div class="buttons1">
              <div id="more1"><a href="more7">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
          <div id="tur1">
            <img id="picture1" src="static/img/Habarowsk.jpg" />
            Тур по Хабаровску<br />От 11 880 руб.
            <div class="buttons1">
              <div id="more1"><a href="more8">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
        </div>
        <div class="turs3">
          <div id="tur2">
            <img id="picture1" src="static/img/VladivostokBridge.jpg" />
            Тур по Владивостоку<br />От 15 000 руб.
            <div class="buttons1">
              <div id="more1"><a href="more9">Подробнее...</a></div>
              <div id="buy1"><a href="buy">Оформить</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
