<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/more.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="more">
      <div class="info">
        <img src="/static/img/Irkutsk.jpg" />
        <div id="text1">
          Иркутск — старинный сибирский город, древнейшие здания которого
          относятся к 18 в. и построены в уникальном стиле — сибирское или
          иркутское барокко. В городе сохранились городская каменная застройка и
          памятники деревянной архитектуры. Рядом — озеро Байкал.

          <br /><br />На карте Сибири Иркутск, как и большинство сибирских
          городов, появился в середине 17 столетия и был основан как зимовье в
          устье реки Иркут. Находясь на важных колонизационных и
          торгово-промысловых путях, связывающих европейскую часть России с
          Китаем, Монголией и русским Дальним Востоком, Иркутск быстро
          развивался и рос.

          <br /><br />В наши дни Иркутск находится в ряду крупнейших областей
          Российской федерации и имеет статус одного из семи городов, обладающих
          уникальным историческим и культурным наследием.
        </div>

        <div id="button"><a href="buy">Оформить</a></div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
