<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/more.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="more">
      <div class="info">
        <img src="/static/img/Habarowsk.jpg" />
        <div id="text1">
          Хабаровск — крупный административный центр на востоке нашей страны.
          Близость Японского моря и русско-китайской границы накладывают свой
          отпечаток на культуру и экономику города. Это влияние просматривается
          даже в его ресторанной карте — тут очень много заведений с азиатской
          кухней.

          <br /><br />Туристов привлекает самобытная культура древних народов
          Дальнего Востока, сохранившаяся в кулинарных традициях, сувенирах и
          народных гуляньях. Зимой и летом в Хабаровске проходят тематические
          выставки и фестивали, на которые собираются люди из разных уголков
          мира. Любителям дикой природы тоже не устоять — могучая северная река
          и заповедная тайга завораживают.

          <br /><br />Планируя отпуск, стоит выделить пару дней для поездки в
          пригород — в окрестностях Хабаровска много памятников природы и
          живописных озер. Настоящее раздолье для охотников и рыболовов — в
          лесах водятся волки, медведи, лисы, кабаны, сайгаки и мелкие пушные
          звери, а в Амуре — налим, осетр, нерка, кижуч, белый амур и змееголов.
        </div>

        <div id="button"><a href="buy">Оформить</a></div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
