<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/more.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="more">
      <div class="info">
        <img src="/static/img/VladivostokBridge.jpg" />
        <div id="text1">
          Один из самых отдаленных форпостов империи, конечный пункт знаменитого
          Транссиба, крупнейший морской порт и база Тихоокеанского флота страны
          — Владивосток всегда имел громадное политическое и экономическое
          значение для России. А своеобразный террасный ландшафт и расположение
          между Амурским и Уссурийским заливами и бухтой Золотой Рог позволили
          знаменитому путешественнику Нансену сравнить его с Неаполем. В 1930-е
          гг. Н. Хрущев призывал сделать из города на холмах второй
          Сан-Франциско. Не сказать, чтобы идея советского лидера воплотилась в
          полной мере: в конечном счете Владивосток атмосферен, самобытен и ни
          на что не похож. До сих пор в центре города, у самой воды, можно
          увидеть бульвары, застроенные вековыми зданиями. В 2012 г. во
          Владивостоке прошел саммит АТЭС — к этому событию в городе построили
          множество новых объектов и достопримечательностей, в том числе
          двухкилометровый вантовый Золотой мост через бухту.

          <br /><br />Все основные достопримечательности сосредоточены в
          пределах центра по береговой линии. Исторический центр Владивостока
          располагается вдоль северного побережья бухты Золотой Рог на несколько
          кварталов вглубь. Туристам лучше селиться на улицах Светланской,
          Алеутской, адмирала Фокина, Уборевича, Фонтанной, Пограничной,
          Набережной, Тигровой, 1-й Морской и Океанском проспекте — это район
          вокруг главной площади Борцов за власть Советов. Отсюда удобно
          добираться в любую точку, здесь сосредоточены рестораны и
          развлекательные заведения, рядом набережные и вокзал.
        </div>

        <div id="button"><a href="buy">Оформить</a></div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
