<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/more.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="more">
      <div class="info">
        <img src="/static/img/MamaevVolgograd.jpg" />
        <div id="text1">
          В низовьях великой русской реки Волги расположился город-герой
          Волгоград. Его история неразрывно связана с великой битвой и славной
          победой нашего народа. Вплоть до 60-х гг. прошлого века он носил
          название Сталинград, и именно здесь произошло сражение, переломившее
          ход Великой Отечественной войны.

          <br /><br />Однако путешественников со всего мира в эти края влекут не
          только исторические достопримечательности. Живописные берега Волги,
          разнообразная культурная программа, широкие возможности для активного
          отдыха — все это делает Волгоград настоящим туристическим центром
          региона.
        </div>

        <div id="button"><a href="buy">Оформить</a></div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
