!<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/more.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="more">
      <div class="info">
        <img src="/static/img/MoscowCity1.jpg" />
        <div id="text1">
          Москва — столица России; остальные эпитеты по сравнению с этим
          меркнут. Как ни банально это звучит, Москва — город контрастов. Это и
          «третий Рим», и «большая деревня», и «нерезиновая», место для
          избранных и для всех. Москва — это Содом и Гоморра в одном флаконе и
          чинная тишина почти совсем деревенских переулков Замоскворечья,
          ощетинившийся острыми стеклянными гранями Москва-Сити и непостижимо
          как сохранившиеся деревянные избы с наличниками в тупиках
          Китай-города, запись на «Бэнтли» на год вперед и нищие у ворот
          «Новодевички», небывало холодные зимы и опять-таки небывало жаркие
          лета, «наш ответ Чемберлену» суперсовременный инноцентр Сколково и
          заповедные леса всего в паре десятков километров от Кремля... словом,
          для каждой реалии московской жизни непременно найдется пресловутый
          контраст.

          <br /><br />Что же до достопримечательностей Москвы, то их точный
          список не сможет воспроизвести ни один самый патриотичный москвич или
          искусствовед. Количество музеев и памятников старины здесь просто
          неприлично, и целой жизни не хватит, чтобы осмотреть их все. К этому
          стоит прибавить многочисленные выставки мастеров темперы и мрамора, с
          завидной регулярностью прибывающие к нам из ведущих мировых хранилищ,
          театры и концертные залы, на сцены которых считают за честь выйти
          лучшие певцы, танцоры, музыканты и актеры планеты и масштабные
          фестивали всего-всего — от колокольного звона до пива.
        </div>

        <div id="button"><a href="buy">Оформить</a></div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
