<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/more.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="more">
      <div class="info">
        <img src="/static/img/Novosibirsk.jpg" />
        <div id="text1">
          Новосибирск — город-миллионник, сердце Сибирcкого федерального округа,
          давно снискавший неофициальное звание «третьей столицы» России. Он
          расположен на юго-востоке Западно-Сибирской равнины, в долине реки
          Обь. Это огромный, стремительно развивающийся деловой, торговый и
          культурный центр. По темпам роста он обогнал даже Нью-Йорк, Чикаго и
          Токио, за что и был внесен в Книгу рекордов Гиннесса.

          <br /><br />Новосибирск космополитичен: на его территории мирно
          соседствуют представители более 80 национальностей. А еще это город
          науки и культуры: построенный здесь Академгородок поражает воображение
          своим размахом, а местный Оперный театр — и вовсе самый большой в
          России. Знакомство с красивыми храмами и интересными музеями,
          необычными памятниками и многими другими достопримечательностями
          превратит даже рядовую командировку в увлекательное путешествие.
        </div>

        <div id="button"><a href="buy">Оформить</a></div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
