<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/static/css/more.css" />
    <meta charset="UTF-8" />
    <title>Bjeget</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block title %} {% endblock %} {% block body%}
    <div class="more">
      <div class="info">
        <img src="static/img/Ufa.jpg" />
        <div id="text1">
          В 14 в. на берегу реки Белой никакого города еще не было, а была
          крепость и резиденция мирзы — наместника Ногайской Орды. В 1557 г.
          Башкирия добровольно вошла в состав русского государства,
          гарантировавшего башкирам защиту от военных набегов. За
          покровительство башкиры обязались платить ясак — медом и пушниной. В
          1574 г. Иван Грозный решил возвести на месте крепости укрепленное
          поселение и отправил туда с этой целью отряд стрельцов. Через 12 лет
          поселение получило статус города. Сегодня Уфа — столица Республики
          Башкортостан, город с населением более миллиона человек, среди которых
          насчитывается несколько десятков различных этносов. Кстати, с
          названием башкирской столицы связано много научных споров. По одной из
          главных версий, название города возникло от одноименной реки,
          протекавшей рядом с городищем в старину, по другой — слово «Уфа»
          означало постройку из дерева. Действительно, изначально город
          представлял собой деревянную крепость.
        </div>

        <div id="button"><a href="buy">Оформить</a></div>
      </div>

      <div class="futer">
        <div class="textf">
          <div class="contacts">
            <div id="contats1">
              Контакты:<br />Телефоны: +7 (961) 086 60-28; +8 (844) 258 70-35<br />Mail:
              abramov1kirill@yandex.ru
            </div>
            <div id="about_company">
              О компании:<br /><a href="https://vspc34.ru/">Наш партнер</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
